#customDetail {
  .spin-content {
    height: 100vh;
    line-height: 80vh;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: left;
    padding-bottom: 14px;
    border-bottom: 1px solid #ddd;
  }

  .content {
    h4 {
      font-size: 17px;
      text-align: left;
      margin-bottom: 28px;

      span {
        display: inline-block;
        vertical-align: middle;
      }

      .line {
        width: 3px;
        height: 18px;
        background-color: #4d7993;
        margin-right: 10px;
      }

      .float-button {
        float: right;

        .origin {
          margin: 0 20px;
        }
      }
    }

    .orderInfo {
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      margin-top: 20px;
      padding: 20px;

      ul {

        border: 1px solid #e9e9e9;
        border-radius: 4px;

        li {

          p {
            font-size: 14px;
            padding: 14px 0;
            text-align: center;
          }

          p.head {
            font-size: 15px;
            background-color: #f0f0f0;
            font-weight: bold;
          }

          p.iconLine {
            position: relative;

            span {
              position: absolute;
              left: 0;
              top: 0;
              width: 4px;
              height: 100%;
              background-color: #f0f0f0;
            }
          }
        }
      }
    }

    .pictureInfo {
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      margin-top: 20px;
      padding: 20px;


      ul {

        border-radius: 4px;

        img {
          width: 100%;
          vertical-align: middle;
        }

        .pirtureWrap {
          padding: 20px;
        }

        li {

          .item {
            margin: 0 20px 20px 0;
          }

          p {
            font-size: 14px;
            padding: 14px 0;
            text-align: center;
          }

          p.head {
            font-size: 15px;
            background-color: #f0f0f0;
            font-weight: bold;
          }

          p.tip {
            position: relative;
            width: 100%;
            transform: translate(0%, -110%);

            .mask {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 32px;
              background-color: rgba(51, 51, 51, 0.8);
            }

            .text {
              width: 100%;
              color: #fff;
              text-align: center;
              position: absolute;
              left: 0;
              top: 0;
              line-height: 32px;
              z-index: auto;
            }

          }
        }
      }
    }
  }
}